services:
  # osams:
  #   image: registry.ait.co.th/iotonix/osams:0.1
  #   container_name: osams
  #   ports:
  #     - "8000:8000"
  #   restart: always
  #   networks:
  #     - aitNet
  #   environment:
  #     - POSTGRES_HOST=timescaledb
  #     - POSTGRES_PORT=5432
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - OLLAMA_SERVER_URL=http://10.0.0.180:11434
  #     - LOGLEVEL=DEBUG
  #   env_file:
  #     - .env
  #   command: python manage.py runserver
  #   volumes:
  #     - OsamsVolume:/app
  #   profiles: ["dev"]

  timescaledb: # Version
    image: timescale/timescaledb:latest-pg16
    container_name: timescaledb
    ports:
      - "5432:5432"
    restart: always
    networks:
      - aitNet
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env
    volumes:
      - TimescaleDBVolume:/var/lib/postgresql/data

networks:
  aitNet:
    external: true
volumes:
  OsamsVolume:
  TimescaleDBVolume:
